@tailwind base;
@tailwind components;
@tailwind utilities;


.bgPage3{
    background-image: url(../src/assets/page3BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
}